/* Header and navigation styling */
header {
    position: sticky;
    top: 0; /* Makes the header stick to the top */
    z-index: 1050; /* Ensures the header stays above other elements */
    background-color: #333; /* Dark background */
    padding: 10px 0 ; /* Added padding for a better appearance */
    width: 100%; /* Ensure the header spans full width */
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: center; /* Vertically align the items */
    margin-right: 20px; /* Right padding for spacing */
    /*padding: 0; !* Remove default padding *!*/
    /*margin: 0; !* Remove default margin *!*/
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white; /* Text color */
    font-size: 18px;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555; /* Change color on hover */
    border-radius: 5px; /* Rounded edges */
}

/* Mobile responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .navbar li {
        margin: 10px 0;
    }
}
